table.stagecoach_change_history a {
  cursor: pointer;
}

table.stagecoach_change_history tr.message {
  font-weight: bold;
  font-style: italic;
  color: white;
  background-color: black;
}

table.stagecoach_change_history tr.message td {
  border-top: 20px solid white;
}

#edit-sync-modified-since-wrapper select {
  width: 70px;
  float: left;
  margin-right: 10px;
}

#stagecoach-sync-run-form #edit-submit {
  clear: both;
}

.diff-message td {
  background-color: #99EEFF;
}